doctype 5
html(lang="ja")
  head
    meta(charset="utf-8")
    script(src='/javascripts/jquery-1.8.3.js', type='application/javascript')
    block sciprt
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
